$dc-primary-color: #0282F9;
$dc-primary-background-color: #303030;

$primary-text-color: white;
$secondary-text-color: #959588;

.container {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: auto;
}